<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/

-->

<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Question Bank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Stretch a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>

    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}


    </script>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>

<body>
<!--Header-->

<div class="header" id="home">

    <!--/top-bar-->
    <div class="top-bar">
        <div class="header-nav-agileits">

            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="{% url 'home' %}">Question Paper Generator</a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="top_nav">

                            <li><a href="{% url 'home' %}">Home</a></li>
                            

                            {% if user.is_authenticated and user.is_staff == False %}
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            <li><a href="{% url 'viewqstn' %}">Inbox</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% elif user.is_authenticated and user.is_staff == True %}


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="Pages"
                                   role="button" aria-haspopup="true" aria-expanded="false">Courses <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'createcourse' %}">Add</a></li>
                                    <li><a href="{% url 'viewcourse' %}">List</a></li>
                                </ul>
                            </li>



                           
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="Pages"
                                   role="button" aria-haspopup="true" aria-expanded="false">Question <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'viewsubject' %}">Add</a></li>
                                    <li><a href="{% url 'questionlist' %}">List</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'qngen' %}">Generate</a></li>
                            <li><a href="{% url 'addpaper' %}">Mail</a></li>
                            <li><a href="{% url 'feedback' %}">Feedbacks</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="Pages"
                                   role="button" aria-haspopup="true" aria-expanded="false">College<span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'signup' %}">Register</a></li>
                                    <li><a href="{% url 'colleges' %}">College</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}

                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </nav>

        </div>
    </div>
    <!--//top-bar-->
    <!-- banner-text -->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides callbacks callbacks1" id="slider4">
                <li>
                    <div class="banner-top">
                        <div class="banner-info-w3ls-agileinfo">
                            <h3>Opportunities For Lifelong Learning.</h3>
                            <a href="{% url 'about' %}">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <a href="{% url 'contact' %}">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="banner-top2">
                        <div class="banner-info-w3ls-agileinfo">
                            <h3>Opportunities For Lifelong Learning.</h3>
                            <a href="{% url 'about' %}">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <a href="{% url 'contact' %}">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
        <div class="clearfix"></div>

        <!--banner Slider starts Here-->
    </div>
    <!--//Slider-->
</div>
<!-- Modal1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">

                    <div class="login-m_page_img">

                        <img src="{% static 'images/model.jpg' %}" alt=" " class="img-responsive"/>

                    </div>
                    <div class="login-m_page">
                        <h3 class="sign">Sign In</h3>
                        <div class="login-form-wthree-agile">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="E-mail" required="">
                                <input type="password" name="password" placeholder="Password" required="">
                                <div class="tp">
                                    <input type="submit" value="Sign In">
                                </div>
                            </form>
                        </div>
                        <div class="login-social-grids">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <p><a href="#" data-toggle="modal" data-target="#myModal3"> Don't have an account?</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <div class="signin-form profile">

                    <div class="login-m_page_img">

                        <img src="{% static 'images/model.jpg' %}" alt=" " class="img-responsive"/>

                    </div>
                    <div class="login-m_page">
                        <h3 class="sign">Sign Up</h3>
                        <div class="login-form-wthree-agile">
                            <form action="#" method="post">
                                <input type="text" name="name" placeholder="Username" required="">
                                <input type="email" name="email" placeholder="Email" required="">
                                <input type="password" name="password" placeholder="Password" required="">
                                <input type="password" name="password" placeholder="Confirm Password" required="">
                                <input type="submit" value="Sign Up">
                            </form>
                        </div>
                        <p><a href="#"> By clicking Sign up, I agree to your terms</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->

<!--//Header-->
<!--/banner_bottom-->
<div class="banner_bottom">
    <div class="banner_bottom_in">
        <h3 class="headerw3">Take the world's best courses, online.</h3>

        <p>A place to provide students with enough knowledge and skills in a complex world. Are you looking for exceptional education experience? BCU might be the place for you.</p>

        <div class="edu_button">
            <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">Read More </a>
        </div>
        <iframe src="https://www.youtube.com/embed/HndV87XpkWg" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
    </div>
</div>
<!--//banner_bottom-->
<div class="sec_video">
    <div class="container">
        <div class="about-main about1">
            <div class="col-md-4 about-gd">
                <div class="about-sub-gd">
                    <h4>NSS</h4>
                    <p>With discipline, we learn, and with resilience, we grow; this is our imparted slogan to our students. </p>
                </div>
                <div class="about-sub-gd">
                    <h4>Expert Instructors</h4>
                    <p>We have well effecient and well trained instructors to guide our students. </p>
                </div>
            </div>
            <div class="col-md-4 about-gd1">
                <img src="{% static 'images/video.jpg' %}" class="img-responsive" alt="">
            </div>
            <div class="col-md-4 about-gd ab-right">
                <div class="about-sub-gd">
                    <h4>Students Strong</h4>
                    <p>Make Students strong to maintain a well decorum </p>
                </div>
                <div class="about-sub-gd">
                    <h4>Physical Activity</h4>
                    <p>Building the right sportsman spirit in each student, they strive for a balance between academics and sports. </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--/video-->
<!--/what-wedo-->

<!--/what-wedo-->

<!--/what-wedo-->
<div class="what-wedo">
    <div class="container">
        <h3 class="headerw3 two">Career Advice</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="wedo-main">
                <div class="wedo-right">

                </div>
                <div class="wedo-left">
                    <h4 class="sub-hdng">Grow Your Digital Skills With Accenture</h4>
                    <p class="paragraph">Our specialist Faculty Careers Consultants are experienced and qualified to provide advice and guidance around all types of jobs and industries.</p>
                    <h4 class="sub-hdng">Our team of professionals have experience in</h4>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>Teaching</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>Strong Communicators</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>Manage</p>
                    <p class="paragraph"><span class="fa fa-check" aria-hidden="true"></span>Clear communication</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/what-wedo-->
<!--/services-->
<div class="services">
    <div class="container">
        <h3 class="headerw3">Featured Courses</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="col-md-4 grid_info_main">
                <div class="grid_info">
                    <div class="icon_info">
                        <span class="fa fa-line-chart" aria-hidden="true"></span>
                        <h5>Financial Analyst Course</h5>
                        <p>The Accredited Financial Analyst® Certificate Program is designed to develop the skills required by Financial Analysts, Research Analyst and Equity Analysts to execute critical functions related to Financial Statement Analysis, Corporate Finance, Equity Research, Investment Analysis and Financial Modelling.</p>
                    </div>
                </div>
                <div class="grid_info second">
                    <div class="icon_info">
                        <span class="fa fa-bookmark" aria-hidden="true"></span>
                        <h5>Discipline</h5>
                        <p>a grouping of courses that share common academic or vocational preparation, which are typically defined by a degree or degrees (MFA, MA, BA, MS, etc), or specific professional preparation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid_info_main">
                <div class="grid_info">
                    <div class="icon_info">
                        <span class="fa fa-bicycle" aria-hidden="true"></span>
                        <h5>Sport Exercise Sciences</h5>
                        <p>encompasses disciplines of exercise and sport physiology, movement analysis, training and conditioning and, sport and exercise psychology.</p>
                    </div>
                </div>
                <div class="grid_info second">
                    <div class="icon_info">
                        <span class="fa fa-female" aria-hidden="true"></span>
                        <h5>Life style</h5>
                        <p>lifestyle courses have become increasingly popular among students who want to pursue their hobbies in lifestyle, fashion, art and craft, and more</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid_info_main">
                <div class="grid_info">
                    <div class="icon_info">
                        <span class="fa fa-laptop" aria-hidden="true"></span>
                        <h5>It and Software</h5>
                        <p>Software Engineering Course Syllabus focuses on computer science, software development, and basic IT. Engineering, Computer Science, Programming, Machine Learning, Big Data, and Mathematics are prime areas of focus in any software engineering program.</p>
                    </div>
                </div>
                <div class="grid_info second">
                    <div class="icon_info">
                        <span class="fa fa-home" aria-hidden="true"></span>
                        <h5>Interior Design</h5>
                        <p>includes a variety of subjects like Interior Design Studio, Basic Design Studio, CAD, History of Furniture, Interior Drawings & Representation, Interior Construction, Computer-aided Design, Interior Work Drawing.</p>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//services-->
<!--/top_spl_courses-->
<div class="top_spl_courses">
    <div class="container">
        <h3 class="headerw3">Top Specializations</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="mid_slider">
                <!-- banner -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g1.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Business &amp; Management</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g2.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Data Structures</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g3.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Digital Marketing</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g4.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Financial Analyst Course</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g5.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Arts &amp; Media </h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g6.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Literature</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g7.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Study Skills</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g1.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Computer Science</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g1.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Business &amp; Management</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g2.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Data Structures</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g3.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Digital Marketing</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g4.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Financial Analyst Course</h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g5.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Arts &amp; Media </h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g6.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Literature</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g7.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Study Skills</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 slidering">
                                    <div class="thumbnail"><img src="{% static 'images/g1.jpg' %}" alt="Image"
                                                                style="max-width:100%;"></div>
                                    <h5>Computer Science</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!-- The Modal -->
                </div>
            </div>
            <!--//slider-->
        </div>
    </div>
</div>
<!--//top_spl_courses-->


<!--what-we-do-->
<div class="top_spl_courses">
    <div class="container">
        <h3 class="headerw3">How it works</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="tabs-grids">
                <div id="parentVerticalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li>Coursework</li>
                        <li>Help & Support</li>
                        <li>Certificates</li>


                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="text-info">
                            <h4>Coursework</h4>
                            <p>these include a term paper, a Master's thesis, a dissertation, or a report project.</p>
                            <p class="sec"> Ideally, the coursework is an essential requirement for a student to complete the course successfully.</p>
                            <img src="{% static 'images/banner1.jpg' %}" alt=" " class="img-responsive"/>

                        </div>
                        <div class="text-info">
                            <h4>Help & Support</h4>
                            <p>Online Support Center:.</p>
                            <p class="sec"> Set up an online support center or knowledge base on your project's website. Include articles, tutorials, troubleshooting guides, and frequently asked questions. Users can search for solutions independently before reaching out to your support team.</p>
                            <img src="{% static 'images/banner2.jpg' %}" alt=" " class="img-responsive"/>

                        </div>

                        <div class="text-info">
                            <h4>Certificates</h4>
                            <p>Achievements and Certifications: Provide a dedicated section where users can showcase their achievements and certifications related to your project. Users can upload or link to their certificates to highlight their expertise and accomplishments.</p>
                            <p class="sec"></p>
                            <img src="{% static 'images/banner3.jpg' %}" alt=" " class="img-responsive"/>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--//what-we-do-->
<div class="tesimonials">
    <div class="container">
        <h3 class="headerw3 two">Testimonials</h3>
        <div class="inner_sec_w3_agileinfo">
            <div class="test_grid_sec">
                <div class="col-md-offset-2 col-md-8">
                    <div class="carousel slide two" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators two">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">

                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <i class="fa fa-user" aria-hidden="true"></i>

                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>Using the question paper generator project has been a game-changer for me as a teacher. It has saved me countless hours of manual question preparation</p>
                                            <h6>Sara Lisbon</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>I have been using the question paper generator project for my tutoring business, and my clients love it. It allows me to quickly generate practice papers for different subjects and grade levels.</p>
                                            <h6>Jane Wearne</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="test_grid">
                                        <div class="col-sm-3 text-center test_img">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-9 test_img_info">
                                            <p>As a student, the question paper generator project has been a lifesaver. It ensures that I have access to a variety of well-structured and challenging questions for practice.</p>
                                            <h6>Alice Williams</h6>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Luscious
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/model.jpg' %}" alt=" " class="img-responsive"/>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                    molestiae consequatur,
                    vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
            </div>
        </div>
    </div>
</div>
<!-- //bootstrap-modal-pop-up -->
<!--footer-->
<div class="contact-footer-w3layouts-agile">


    <div class="copy-w3-agileits">
        <h2 class="footer-logo"><a href="{% url 'home' %}"> Question Paper Generator</a></h2>
        <p>© 2023  . All Rights Reserved | Design by sidhu</p>
        <div class="clearfix"></div>
    </div>
</div>
<!--/footer -->


<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- //js -->
<!--search-bar-->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});


</script>
<!--//search-bar-->
<link rel="stylesheet" type="text/css" href="{% static 'css/easy-responsive-tabs.css ' %}"/>
<script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
<!--Plug-in Initialisation-->
<script type="text/javascript">
		$(document).ready(function () {

			//Vertical Tab
			$('#parentVerticalTab').easyResponsiveTabs({
				type: 'vertical', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				tabidentify: 'hor_1', // The tab groups identifier
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo2');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});


</script>
<!--/script-->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});


</script>
<!-- start-smoth-scrolling -->

<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});


</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>


</body>

</html>