{% extends "base.html" %}

{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="alert alert-info">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<form class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}


    <button type="submit" class="btn btn-success" style="text-align: center;">Submit</button>
</form>

{% endblock %}
